<%- include('partials/header.ejs') %>
<body>
    <form action="/inicioSesion" method="post">
        <label for="user">Codigo de estudiante:</label>
        <input type="text" name="user">
        <label for="contra">Contraseña</label>
        <input type="text" name="contra">
        <input type="submit" value="Enviar">
    </form>
    <a href="/registrar">Registrarse</a>
</body>
</html>