<%- include('partials/header.ejs') %>
<body>
    <form action="/registrar" method="post">
        <label for="user">Codigo de estudiante:</label>
        <input type="text" name="user">
        <label for="name">Nombre</label>
        <input type="text" name="name">
        <label for="contra">Contraseña:</label>
        <input type="text" name="contra">
        <label for="confirmContra">Confirmar contraseña:</label>
        <input type="text" name="confirmContra">
        <input type="submit" value="Enviar">
    </form>
    <a href="/inicioSesion">Iniciar sesion</a>
    <% if (msg){ %>
        <p><%= msg %></p>
    <% } %>
</body>
</html>